# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.secret
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Kubernetes
*.kubeconfig

# Logs
*.log

# Build
dist/
build/
node_modules/


# Python
__pycache__/
*.py[cod]
.pytest_cache/
